form
  label
    display: block
    margin-bottom: 11px
    &.has-error
      .svg
        fill: red
  select
    width: 100%
  input
    width: 100%
    font-size: 16px
    padding: 13px 26px
    line-height: 19px
    &.error
      color: red!important
      border-color: red!important
      &::placeholder
        color: red
  .help-block
    display: none

.intro-form
  position: absolute
  width: 380px
  height: 395px
  top: -177px
  right: 0
  font-size: 14px
  h3
    font-size: 22px
    margin-bottom: 12px
  h4
    font-size: 16px
  li
    position: relative
    padding-left: 13px
    line-height: 1.2
    margin-bottom: 12px
    &:before
      content: ''
      position: absolute
      width: 4px
      height: 4px
      background-color: #fff
      left: 0
      top: 6px
  ul
    margin-bottom: 19px
  .form-labels-wrap
    margin-top: 27px

.dark-form
  background-color: rgba(0, 0, 0, 0.8)
  color: #fff
  padding: 25px 50px 35px
  label
    position: relative
    .svg
      position: absolute
      right: 28px
      top: calc(50% - 7px)
  input
    background-color: transparent
    border: 1px solid #fff
    color: #fff
    padding-right: 50px
    &::placeholder
      color: #fff
  .svg
    fill: #fff
  .btn
    display: block
    width: 100%

.grey-form
  .jq-selectbox
    width: 100%
    font-size: 16px
    box-shadow: none
    &.opened
      .jq-selectbox__trigger-arrow
        transform: rotate(180deg)
  .jq-selectbox__select
    box-shadow: none
    font-size: 16px
    padding: 19px 26px
    height: auto
    line-height: 1
    color: #8E8E8E
    background: #fff
    border-radius: 0
    border: 1px solid #C4C4C4!important
  .jq-selectbox__trigger
    border: none
  .jq-selectbox__trigger-arrow
    border: none
    width: 10px
    height: 6px
    background-image: url('../img/icons/arrow-down-grey.svg')
    right: 26px
    top: calc(50% - 3px)
  .jq-selectbox__dropdown
    border-radius: 0

.choose-form
  span
    display: block
    margin-bottom: 6px
  .form-labels-wrap
    display: flex
    justify-content: space-between
  label, .btn
    width: calc(33% - 8px)
  .btn
    height: 56px
    margin-top: 28px
  .jq-selectbox__select
    border-color: transparent!important


.skew-form
  background-color: $accent
  position: relative
  z-index: 3
  h3
    font-size: 24px
    text-transform: uppercase
    margin-top: 0
    margin-bottom: 40px
  .agreement-label
    font-size: 12px
    margin: 20px 0
    .checkbox
      margin-bottom: 15px
      margin-right: 5px
      float: left
    .jq-checkbox
      background: transparent
      box-shadow: none
      border-radius: 2px
      border: 1px solid #fff
    .jq-checkbox.checked .jq-checkbox__div
      margin-top: 4px
      border-color: #fff
